<html>

<body>
	<form action="/create" method="post" enctype="multipart/form-data">
		Restaurant Name: <input type="text" name="name" minlength="1"><br>
        Borough: <input type="text" name="borough"><br>
        Cuisine: <input type="text" name="cuisine"><br>
        Street: <input type="text" name="street"><br>
        Building: <input type="text" name="building"><br>
        Zip Code: <input type="text" name="zipcode"><br>
        Latitude: <input type="text" name="lat"><br>
        Longitude: <input type="text" name="long"><br>
        Photo: <input type="file" name="photo"><br>
		<input type="submit" value="Submit">
	</form>
</body>

</html>